:root{
    --theme-color: #e40000;
    --primary-color: #fb811e;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #009f4d;
    --font-color: #707070;
    --bg-color: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #eee;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-light: #fafafa;
    --bg-dark-color: #fff;
    --quote-text-color: #1d2c4c;
    --icon-gra-color: linear-gradient(75deg, #1c2e7b 10%, #e60264);
    --shadow-color: rgba(10, 16, 34, .2);
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ff4c4c;
    --secondary: #e71d36;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

*{
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .sub-our-dishes-container__column2{
        padding-top: 3rem;
    }
  }

@media (min-width: 920px){
    .sub-our-dishes-container{
        max-width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .sub-our-dishes-container{
        max-width: 1140px;
        margin: 0 auto;
    }
}
@media (min-width: 1280px){
    .sub-our-dishes-container{
        max-width: 1200px;
    }
}
/*change nav color*/
.nav-input-changed{
    border: 1px solid #eee;
}
.dark-color{
    color: var(--dark) !important;
}
.bistros-logo-2{
    font-size: 30px;
    color: var(--dark);
    font-weight: 600;
}
nav .bistros-logo-2:hover{
    color: var(--orange);
    cursor: pointer;
}
.icon-logo-2{
    transform: rotate(24deg);
    font-size: 28px;
    color: var(--orange);
}
.nav-list-container-2{
    display: flex;
}

/*header-nav*/
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1% 2.5% 0 2.5%;
    z-index: 3000;
}
nav .bistros-logo{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
nav .bistros-logo:hover{
    color: var(--secondary-color);
    cursor: pointer;

}
nav .bistros-logo:hover > i{
    color: var(--secondary-color);
    cursor: pointer;
}
nav .bistros-logo span{

}
nav .bistros-logo i{
    transform: rotate(24deg);
    font-size: 28px;
    color: #fff;
}
nav .nav-list-container{
    display: flex;
}
nav .nav-list-container ul{
    display: flex;
    padding-right: 3%;
    line-height: 40px;
}
.nav-list-container ul li{
    width: 85px;
    list-style-type: none;
}
.nav-list-container ul li i{
    color: #fff;
}
.nav-list-container ul li:last-child{
    width: 102px;
}
.nav-list-container ul li a{
    text-decoration: none;
    border: none;
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding: 6px 8px;
    font-family: 'Josefin Sans', sans-serif;
}
.nav-list-container ul li a:hover{
    border-bottom: 2px solid #fff;
}
.nav-list-container .search-bar{
    width: 230px;
    position: relative;
    
}
.fa-moon{
    color: #fff;
        font-size: 28px;
        line-height: 0;
        padding: 20px;
}
.nav-list-container .search-bar input{
    width: 100%;
    padding: 4%;
    border-radius: 30px;
    border: none;
    padding-left: 8%;
}
.nav-list-container .search-bar i{
    top: 5%;
    position: absolute;
    right: 3%;
    padding: 5%;
}
.nav-list-container .moon-light{

}

header .left{
    float: left;
    width: 50%;
    height: 100vh;
    padding-top: 15%;
    padding-left: 5%;
    background-color: var(--orange);
}
.left .greeting{
    font-size: 50px;
    line-height: 65px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    width: 90%;
    text-align: left;
}
.left .greeting .sub-heading1{
    font-size: 50px;
    font-weight: 300;
    line-height: 65px;
    text-align: left;
    display: inline-flex;
    justify-content: left;
}
.span-letter-spacing{
    
}
.span-letter-spacing-2{
    padding-right: 15px;
}
.left .time-working{
    padding-top: 4%;
    display: flex;
}
.left .time-working .regular{
    font-size: 24px;
    color: #fff;
}
.left .time-working .time{
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
.left .btn{
    color: #fff;
    background-color: var(--orange);
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 6%;
}
.left .btn:hover {
    color: var(--primary-color) !important;
    background-color: var(--white) !important;
    
}
header .right{
    float: right;
    width: 50%;
    height: 100vh;
    padding-top: 15%;
    background: url(./access/image/banner1.jpg) no-repeat center;
    background-size: cover;
}
.right .image-food-container{
    margin-left: 4%;
}
.right .image-food-container .item:first-child{
    background: url(./access/image/banh-mi.jpg) no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.right .image-food-container .item:last-child{
    background: url(./access/image/banh-xeo.jpg) no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    border-radius: 20px;
}
.right .image-food-container .item .modal-item{
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.image-food-container .item .modal-item h4{
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.image-food-container .item .modal-item a{
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
    text-decoration: none;
}
.image-food-container .item .modal-item p{
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
}
.right .floater{
    background-color: var(--heading-color);
    position: fixed;
    right: 0;
    top: 10%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 10000;

}
.right .floater ul{
    padding: 0;
    
}
.right .floater li i{
    color: #ccc;
    font-size: 20px;
    padding: 5px 0;
}
.right .floater li{
    padding: 13px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.right .floater ul a{
    text-decoration: none;
    color: #ccc;
    text-transform: capitalize;
    font-weight: 600;
}

#content{
    padding-top: 100vh;
}
.content__delicious-food{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 14vh;
}
.content__delicious-food__image-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
}
.content__delicious-food__image-container .image-1{
    position: relative;
    z-index: 1000;
    border-radius: 20px;

}
.content__delicious-food__image-container:hover .image-1{
    transform: translate(90px, -70px);
    transition: transform 300ms ease-out;
}
.content__delicious-food__image-container .image-1 img{
    border-radius: 20px;
}
.content__delicious-food__image-container .image-2{
    position: absolute;
    top: -11%;
    left: 8%;
    border-radius: 20px;
    
}
.content__delicious-food__image-container:hover .image-2{
    transform: translate(0, 30px);
    transition: transform 300ms ease-out;
}
.content__delicious-food__image-container .image-2 img{
    border-radius: 20px;

}
.content__delicious-food__wrapper{
    width: 40%;
}
.content__delicious-food__wrapper h2{
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: var(--primary-color);
}
.content__delicious-food__wrapper .description{
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 28px;
    color: var(--font-color);
    
}
.content__delicious-food__wrapper__location{
    display: flex;
    margin-top: 48px;
}
.content__delicious-food__wrapper__location i{
    color: var(--primary-color);
    font-size: 40px;
    padding: 24px 24px 24px 0;
    
}
.content__delicious-food__wrapper__location p{
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: 'Josefin Sans', sans-serif;
    width: 27%;
    line-height: 31px;
}

.our-dishes-about{
    padding: 14% 12% 8% 12%;
    background-color: var(--secondary-color);
}
.our-dishes-about__left{
    
}
.our-dishes-about__left h3{
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.our-dishes-about__left .description{
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    line-height: 28px;
    margin: 24px 0 48px 0;
}
.our-dishes-about__left__wrapper{

}
.our-dishes-about__left__wrapper ul{
    padding: 0;
}
.our-dishes-about__left__wrapper ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.our-dishes-about__left__wrapper ul li:nth-child(2){
    margin: 48px 0;
}
.our-dishes-about__left__wrapper ul li:last-child{
    margin-bottom: 60px;
}
.our-dishes-about__left__wrapper ul li .name-food{
    font-size: 24px;
    font-weight: 600;
    color: #eee;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 28px;
}
.our-dishes-about__left__wrapper ul li .price{
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;

}
.our-dishes-about__left .view-more{
    padding: 12px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
}
.our-dishes-about__left .view-more:hover{
    color: var(--primary-color) ;
    background-color: var(--white) ;
}
.our-dishes-about__right{

}
.our-dishes-about__right img{
    width: 90%;
    margin-left: 10%;
}
.sub-our-dishes-container{
    
    width: 100%;
    padding: 0 15px;
}
.sub-our-dishes-container .row{
    width: 100%;
    padding: 10% 0;
}
.sub-our-dishes-container__column1 .item-container{
    padding-left: 12%;
    text-align: left;
}
.sub-our-dishes-container .row .item-container{
    width: 90%;
}
/*
    font-family: 'Josefin Sans', sans-serif;
*/
.sub-our-dishes-container .row .item-container h4{
    font-size: 35px;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-weight: bold;
    color: var(--primary-color);
    
}

.sub-our-dishes-container .row .item-container p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 28px;
    color: var(--font-color);
}
.sub-our-dishes-container__column2{
    
}
.sub-our-dishes-container__column2 img{
    width: 100%;
    border-radius: 20px;
}
.sub-our-dishes-container__column3{
    
}
.sub-our-dishes-container__column3 .item-container{
    text-align: right;
    padding-left: 12%;
}
.sub-our-dishes-container__column3 .item-container h4{
    text-align: right !important;
}

.data-of-website{
    background: url(./access/image/bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 70vh;
    padding: 8% 0;
}
.data-of-website .container{

}
.data-of-website .container .row{
    
}
.data-of-websit__container__left-wrapper{
    
}
.data-of-websit__container__left-wrapper h6{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 24px;
    text-align: left;
}
.data-of-websit__container__left-wrapper{
    
}
.data-of-websit__container__left-wrapper .content-left-data .para-1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 16px;
    font-size: 17px;
    line-height: 28px;
    color: var(--font-color);
}
.data-of-websit__container__left-wrapper .content-left-data .para-2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 16px;
    font-size: 17px;
    line-height: 28px;
    color: var(--font-color);
}
.data-of-websit__container__left-wrapper .extend{
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    padding: 15px 35px;
    
    line-height: 24px;
    text-align: center;
}   
.data-of-websit__container__left-wrapper .extend:hover{
    color: var(--primary-color);
    background-color: #fff;
    border: var(--primary-color) solid 2px;
}
.data-of-websit__container__right-wrapper{

}
.data-of-websit__container__right-wrapper .item-cover{

}
.data-of-websit__container__right-wrapper .item-cover .quantity{
    color: var(--primary-color);
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    text-align: center;

}
.data-of-websit__container__right-wrapper .item-cover .name-quantity{
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.our-special{

}
.our-special .wrapper-our-special-heading{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.our-special .wrapper-our-special-heading h2{
    color: var(--primary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
}
.our-special .wrapper-our-special-heading p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    color: var(--font-color);
    text-align: center;
}
.our-special .container{

}
.our-special .row-first{
    
}
.our-special .container .row-first .item-container{
    text-decoration: none;
}
.our-special .container .row-first .item-container img{
    width: 100%;
    border-radius: 30px;
}
.our-special .container .row-first .item-container .content-wrapper{

}
.our-special .container .row-first .item-container .content-wrapper .title{
    color: var(--font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 0;
}
.our-special .container .row-first .item-container .content-wrapper .para{
    color: var(--heading-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    margin-bottom: 0;
}
.our-special .container .row-second{

}
.our-special .container .row-second .item-container{
    text-decoration: none;
}
.our-special .container .row-second .item-container img{
    width: 100%;
    border-radius: 30px;
}
.our-special .container .row-second .item-container .content-wrapper{

}
.our-special .container .row-second .item-container .content-wrapper .title{
    color: var(--font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 0;
}
.our-special .container .row-second .item-container .content-wrapper .para{
    color: var(--heading-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    margin-bottom: 0;
}
/*
    font-family: 'Josefin Sans', sans-serif;
*/
#footer{
    background: #292929;
}
#footer .container{

}
#footer .container .footer-row-1{

}
.footer-row-1 .row-1-left{

}
.footer-row-1 .row-1-left .footer-logo{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.footer-row-1 .row-1-left .footer-logo span{

}
.footer-row-1 .row-1-left .footer-logo i{
    padding: 0 5px;
    transform: rotate(24deg);
    color: var(--primary-color);
}
.footer-row-1 .row-1-left h1{
    color: var(--primary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;

}
.footer-row-1 .row-1-right{

}
.footer-row-1 .row-1-right .icon-container{
    
}
.footer-row-1 .row-1-right .icon-container a{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}
.footer-row-1 .row-1-right .icon-container a i{
    font-size: 18px;
    line-height: 18px;
    
}
footer .title{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
}

.footer-row-2 .row-2-column-1 .time-opening .time{
    font-weight: bold;
    padding: 0 10px;
}
.footer-row-2 .row-2-column-2 .phone-number .title{
    margin-bottom: 0;
}
.footer-row-2 .row-2-column-2 .phone-number .number{
    color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    line-height: 28px;
    text-align: left;
    color: var(--primary-color);
    text-decoration: none;
}
.footer-row-2 .row-2-column-2 .email-container .title{
    margin-bottom: 0;
}
.footer-row-2 .row-2-column-2 .email-container .email-address{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #fff;
}
.footer-row-2 .row-2-column-3{
    
}
.footer-row-2 .row-2-column-3 .title{
    
}
.footer-row-2 .row-2-column-3 .list{
    padding-left: 0;
}
.footer-row-2 .row-2-column-3 .list li{
    list-style-type: none;

}
.footer-row-2 .row-2-column-3 .list li a{
    text-decoration: none;
    color: var(--border-color-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
    text-align: left;
}
.footer-row-2 .row-2-column-4{
    width: 30%;
}
.footer-row-2 .row-2-column-4 .input-group{

}
.footer-row-2 .row-2-column-4 .input-group input{
    border-radius: 30px;
    padding: 12px 15px;
}
.footer-row-2 .row-2-column-4 .input-group span{
    border-radius: 30px;
    padding: 0 30px;
    background: var(--primary-color);
    color: #fff;

}
.footer-row-2 .row-2-column-4 .subcribe{
    color: var(--font-color);
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-row-3{
    border-top: 1px solid var(--font-color);
}
.footer-row-3 .row-3-left{

}
.footer-row-3 .row-3-left .liscence{

}
.footer-row-3 .row-3-left .liscence .content-liscence{
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
}
.footer-row-3 .row-3-left .liscence .author{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}
.footer-row-3 .row-3-right{
    padding: 0;
}
.footer-row-3 .row-3-right ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.footer-row-3 .row-3-right ul a{
    text-decoration: none;
    color: var(--font-color);
    line-height: 24px;
    text-align: right;
}


